.search-modal {
  margin-left: 10px;
}


.search-modal__input {
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: .4em;
  height:  10px;

}

.search-model__go{
  margin-top: 5px;

}

.search-modal--hidden{
  display: none;
}
